*{
    font-family: "Encode Sans", sans-serif;
}

.contenedor_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    p{
        margin-left: 0.5rem;
        font-size: 1.3rem;
        width: 11rem;
    }
    h1{
        margin-left: 0.5rem;
        font-size: 1.8rem;
        width: 210px
    }
}

.foto{
    margin-top: 2.5rem;
    margin-left: 90vw;
    position: absolute;
    right: 10px;
}

.contenedor_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    height: 7vh;
    margin-left: 0.5rem;
}

:root {
    --bg: #F0F0F0;
    --input-bg: white;
    --text: #272829;
    --item-hover: #f6f6f6;
}

.search-box{
    position: relative;
    width: 150%;
    box-shadow: 
        rgb(149, 157, 165, 0.2)
        0px 0px 24px;     
}

.row{
    display: flex;
    align-items: center;
}

button{
    background: transparent;
    border: 0;
    outline: 0;
}

input{
    margin-top: 1rem;
    flex: 1;
    max-height: 2.5rem;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: var(--text);
}

.serch-box svg{
    stroke: var(--text);
}

.results {
    background-color: #ffffff;
    position: absolute;
    width: 90%;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
}

.results ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.results ul li {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.results ul li:hover {
    background-color: #f0f0f0;
}


.filtro{
    position: absolute;
    right: 6px;
}

.contenedor_3{
    margin-left: 0.5rem;
    width: 96%;
    max-height: 10vh;
    overflow:auto;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    margin-top: 2vh;
}

.contenedor_3::-webkit-scrollbar {
    display: none;    
  }

.filtro-1{
    border-radius:5px;
    border: solid 1px;
    width: 115px;
    height: 25px;
    color:#7b7b7b;
    padding: 4%;
    margin-top: 1vh;
    img{
        margin-top: 0.27rem;
        margin-left: 1rem;
    }
    p{
        color: #272829;
        margin-left: 2.5rem;
        margin-top: -1.35rem;
    }
    a{
        text-decoration: none;
    }
}

.filtro-2{
    border-radius:5px;
    border: solid 1px;
    width: 115px;
    height: 25px;
    color:#7b7b7b;
    padding: 4%;
    margin-top: 1vh;
    img{
        margin-left: 1.5rem;
        margin-top: 0.25vh;
    }
    p{
        color: #000000;
        margin-left: 2.9rem;
        margin-top: -1.49rem;
    }
    a{
        text-decoration: none;
    }
}

.filtro-3{
    border-radius:5px;
    border: solid 1px;
    width: 115px;
    height: 25px;
    color:#7b7b7b;
    padding: 4%;
    margin-top: 1vh;
    img{
        margin-left: 1rem;
        margin-top: 0.25vh;
    }
    p{
        color: #000000;
        margin-left: 2.6rem;
        margin-top: -1.49rem;
    }
    a{
        text-decoration: none;
    }
}

.filtro-4{
    border-radius:5px;
    border: solid 1px;
    color:#7b7b7b;
    padding: 4%;
    width: 115px;
    height: 25px;
    margin-top: 1vh;
    img{
        margin-left: 1.5rem;
        margin-top: 0.25vh;
    }
    p{
        color: #000000;
        margin-left: 3rem;
        margin-top: -1.49rem;
    }
    a{
        text-decoration: none;
    }
}

.productos{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-left: 0.5rem;
    font-size: 0.6rem;
    img{
        max-width: 100%;
        height: auto;
        border-radius: 10%;
    }
    p{
        font-size: 0.7rem;
    }
    a{
        text-decoration: none;
        color: #000000;
    }
}

.producto-3{
    margin-top: -50px;
}

.navegador{
    background-color:#ffdbbf;
    max-width: 90%;
    max-height: 40px;
    margin-left: 1rem;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    img{
        margin-top: 7px;
        margin-left: 30px;
    }
}

@media(min-width: 1024px)
{   
    body{
        overflow-x: hidden;
    }
    .contenedor_2{
        margin-left: 170px;
        input{
            margin-top: 0.4rem;
            margin-left: 10px;
        }
    }

    .filtro{
        margin-top: -8px;
        margin-right: 170px;
    }
    
    .productos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
    }
    .producto-3{
        margin-top: 0px;
    }
    .navegador{
        width: 300px;
        margin-left: 390px;
    }
    .contenedor_3{
        right: -220px;
        position: relative;
    }
}

.alinear-derecha {
    justify-content: end;
}