<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Detail</title>
  <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
  <div class="contenedor_1">
    <header>
        <a href="/index.html">
            <button class="boton_atras">←</button>
        </a>
    </header>

    <div class="product-image">
      <img src="/storage/img/producto-1.png" width="150px">
    </div>

    <div class="producto-info">
      <h1>Light Dress Bless</h1>
      <div class="raiting">
        ⭐ 5.0 <span>(932 reviews)</span>
      </div>
      <p class="descripcion">
        Its simple and elegant shape makes it perfect for those of you who like you who want minimalist clothes.
        <span class="read-more">Read More...</span>
      </p>

      <div class="opciones">
        <div class="size">
          <p>Choose Size</p>
          <div class="sizes">
            <span>S</span>
            <span>M</span>
            <span>L</span>
            <span>XL</span>
          </div>
        </div>
        <div class="color">
          <p>Color</p>
          <div class="colors">
            <span class="dot black"></span>
            <span class="dot gray"></span>
            <span class="dot brown"></span>
          </div>
        </div>
      </div>

      <div class="add-cart">
        <div class="price">
          <strong>$162.99</strong> <span class="old-price">$189.99</span>
        </div>
        <button class="add-button">🛒 Add to Cart</button>
      </div>
    </div>
  </div>
</body>
</html>